footer {
    background-color: #464547;
    padding-bottom: 20px;
    
}
.footer_logo {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}
.footer_logo_container {
    height: 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
.project_name{
font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 20px;
    color: #FFFFFF;
    padding-top: 15px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr; 
    grid-row-gap: 20px;
    padding-top: 37px;
    padding-left: 153px;
    padding-right: 148px;
    
}
@media (max-width:768px){
    .grid-container{
        display: block;
        padding-top: 56px;
        padding-left: auto;
        padding-right: auto;
    }
}

contacts {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    grid-column: 3/4;
    grid-row: 1/2;
}
@media (max-width:768px){
    contacts {
        display: block;
        margin-top: 30px;
        text-align: center;
    }
}
.contact_email {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    grid-column: 3/4;
    grid-row: 2/3;
}
@media (max-width:768px){
    .contact_email {
        display: block;
        margin-top: 15px;
        text-align: center
    }
}
.contacts_copyright {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    grid-column: 6/8;
    grid-row: 2/3;
}
@media (max-width:768px){
    .contacts_copyright {
        display: block;
        margin-top: 15px;
        text-align: center
    }
}