.hero {
    z-index: auto;
    background: url(../assets/Desktop_Backgrounds_1920x1200_6.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left;
    height: 822px;
    /* animation should have same hight as main picture */
}
@media (max-width:768px) {
    .hero {
        z-index: auto;
        background: url(../assets/Desktop_Backgrounds_mobile.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position:left;
    }
}

.stars {
    position: absolute;
    z-index: auto;
    width: 100%;
    height: 100%;
    background: url(../assets/stars.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    animation: fadeIn 5s  linear 2s infinite;
    height: 822px;
}
@media (max-width:768px) {
    .stars {
        background: url(../assets/stars_mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
}
.Dots {
    position: absolute;
    z-index: auto;
    width: 100%;
    height: 100%;
    background: url(../assets/Dots.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    animation: slideIn 5s linear infinite;
    transform-origin: right;
    height: 822px;
}
@media (max-width:768px) {
    .Dots {
        background: url(../assets/Dots_mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
}

@keyframes fadeIn {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% {transform: scale(1);}
    60% {transform: scale(1.05);}
    100% {transform: scale(1);}
}



.hero_logo {
    padding-top: 274px;
    display: block;
    width: 63px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease-in;
   
}
.hero_logo:hover {
    transform: rotateY(180deg) scale(1.5) translate(0%, -15%);
    
}
@media (max-width:768px) {
    .hero_logo {
        padding-top: 203.99px;
        width: 63.04px;
        height: 62.54px;
    }
}

.hero_h1 {
    color: #FFFFFF;
    margin-top: 13px;
    margin-bottom: 42px;
}

.hero_h2 {
    color: #ffffff; 
    opacity: 70%;
    margin-top: 42px;
    padding-bottom: 256px;
}
@media (max-width: 768px) {
    .hero_h2 {
       padding-bottom: 246.19px;
    }
}

header {
    display: flex;
    padding-top: 45px;
}
@media (max-width: 768px) {
    header {
        display: block;
        padding-top: 0;
    }
}


.site-header {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    padding-left: 153px;
    padding-right: 165px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media (max-width:768px) {
    .site-header {
        padding-left: 30px;
        padding-top: 50px;
    }
}

.nav_project_links {
    display: flex;
    width: 395px;
    justify-content: space-between;
    padding-bottom: 6px;
}
@media (max-width:768px){
    .nav_project_links{
        visibility: hidden;
    }
}


.nav_project_links li a:hover {
    color: #0088a9; 
}

li, a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
    
.underline {
    width: 80px;
    height: 0px;
    left: 600px;
    top: 71px;
    border: 2px solid #FFFFFF;
    margin-left: 104px;
}

.hamburger-icon {
    float: right;
    padding-right: 20px;
    padding-top: 43px;
}
@media (min-width: 768px){
    .hamburger-icon {
            visibility: hidden;   
    }
}


.hamburger-icon {
    margin: 0;
    padding: 19px 16px;
    display: inline-block;
    position:relative;
    top: 30px;
    left: 0;
}
.hamburger-icon span {
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 5px;
    display: block;
    margin-bottom: 6px;
}
.hamburger-icon span:last-child {
    margin-bottom:0px;
}