.learn_more {
    background: url(../assets/IMG_1334_72dpi_RGB.png);
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    background-position: center center;
    margin-top: 80px;
}
.learn_more_layout {
    background-color: rgba(140, 79, 42, 0.3);
    height: 100%;
}
.learn_more_h1 {
    color: #FFFFFF;
    padding-top: 84px;
}

.learn_more_h3 {
    color:#FFFFFF;
    margin-top: 70px;
    padding-bottom: 86.42px;
}

.learn_more_button {
    font-family: Oswald Regular;
    font-size: 60px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #55C2D8;
    border-radius: 50%;
    margin-top: 53px;
    /* background: url(../assets/Learn-more-button.png); */
    width: 150px;
    height: 150px;
    border: 0px;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 1s linear;
}
.learn_more_button:hover {
    color: #55C2D8;
    background-color: #FFFFFF;
    cursor: pointer;
    /* Video button transformation */
}
@media (max-width:768px){
    .learn_more_button {
        width: 100px;
        height: 100px;
        /* background: url(../assets/Learn-more__button_small.png); */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}